[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pycodestyle = "*"

[packages]
requests = "*"
pandas = "*"
matplotlib = "*"
flake8 = "*"
numpy = "==1.19.3"
python-dotenv = "*"

[requires]
python_version = "3.9"
